In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as pticker
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [5]:
world_cup_file=pd.read_csv('D:/study material/world-cup-predictor/datsets/World Cup 2019 Dataset.csv')

In [6]:
world_cup_file.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [7]:
results=pd.read_csv('D:/study material/world-cup-predictor/datsets/results.csv')

In [8]:
results.head()

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [13]:
#data cleaning


#All matches played by India
df=results[(results['Team_1']=='India') | (results['Team_2']=='India')]

In [14]:
df

,date,Team_1,Team_2,Winner,Margin,Ground
1,5-Jan-10,India,Sri Lanka,Sri Lanka,5 wickets,Dhaka
2,7-Jan-10,Bangladesh,India,India,6 wickets,Dhaka
4,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka
5,11-Jan-10,Bangladesh,India,India,6 wickets,Dhaka
6,13-Jan-10,India,Sri Lanka,Sri Lanka,4 wickets,Dhaka
24,21-Feb-10,India,South Africa,India,1 run,Jaipur
25,24-Feb-10,India,South Africa,India,153 runs,Gwalior
26,27-Feb-10,India,South Africa,South Africa,90 runs,Ahmedabad
44,28-May-10,Zimbabwe,India,Zimbabwe,6 wickets,Bulawayo
46,30-May-10,India,Sri Lanka,India,7 wickets,Bulawayo
49,3-Jun-10,Zimbabwe,India,Zimbabwe,7 wickets,Harare
51,5-Jun-10,India,Sri Lanka,Sri Lanka,6 wickets,Harare
56,16-Jun-10,Bangladesh,India,India,6 wickets,Dambulla
59,19-Jun-10,India,Pakistan,India,3 wickets,Dambulla
62,22-Jun-10,Sri Lanka,India,Sri Lanka,7 wickets,Dambulla
64,24-Jun-10,Sri Lanka,India,India,81 runs,Dambulla
93,10-Aug-10,India,New Zealand,New Zealand,200 runs,Dambulla
95,16-Aug-10,Sri Lanka,India,India,6 wickets,Dambulla
101,22-Aug-10,Sri Lanka,India,Sri Lanka,8 wickets,Dambulla
102,25-Aug-10,India,New Zealand,India,105 runs,Dambulla
103,28-Aug-10,Sri Lanka,India,Sri Lanka,74 runs,Dambulla
123,20-Oct-10,India,Australia,India,5 wickets,Visakhapatnam
133,28-Nov-10,India,New Zealand,India,40 runs,Guwahati
135,1-Dec-10,India,New Zealand,India,8 wickets,Jaipur
137,4-Dec-10,India,New Zealand,India,9 wickets,Vadodara
139,7-Dec-10,India,New Zealand,India,5 wickets,Bengaluru
140,10-Dec-10,India,New Zealand,India,8 wickets,Chennai
142,12-Jan-11,South Africa,India,South Africa,135 runs,Durban
143,15-Jan-11,South Africa,India,India,1 run,Johannesburg
145,18-Jan-11,South Africa,India,India,2 wickets,Cape Town
...,...,...,...,...,...,...
860,20-Oct-16,India,New Zealand,New Zealand,6 runs,Delhi
861,23-Oct-16,India,New Zealand,India,7 wickets,Mohali
862,26-Oct-16,India,New Zealand,New Zealand,19 runs,Ranchi
863,29-Oct-16,India,New Zealand,India,190 runs,Visakhapatnam
882,15-Jan-17,India,England,India,3 wickets,Pune
884,19-Jan-17,India,England,India,15 runs,Cuttack
887,22-Jan-17,India,England,England,5 runs,Kolkata
941,4-Jun-17,India,Pakistan,India,124 runs,Birmingham
945,8-Jun-17,India,Sri Lanka,Sri Lanka,7 wickets,The Oval
949,11-Jun-17,India,South Africa,India,8 wickets,The Oval
954,15-Jun-17,Bangladesh,India,India,9 wickets,Birmingham
957,18-Jun-17,India,Pakistan,Pakistan,180 runs,The Oval
958,23-Jun-17,West Indies,India,no result,NaN,Port of Spain
959,25-Jun-17,West Indies,India,India,105 runs,Port of Spain
961,30-Jun-17,West Indies,India,India,93 runs,North Sound
963,2-Jul-17,West Indies,India,West Indies,11 runs,North Sound
965,6-Jul-17,West Indies,India,India,8 wickets,Kingston
968,20-Aug-17,Sri Lanka,India,India,9 wickets,Dambulla
969,24-Aug-17,Sri Lanka,India,India,3 wickets,Pallekele
970,27-Aug-17,Sri Lanka,India,India,6 wickets,Pallekele
971,31-Aug-17,Sri Lanka,India,India,168 runs,Colombo (RPS)
972,3-Sep-17,Sri Lanka,India,India,6 wickets,Colombo (RPS)
973,17-Sep-17,India,Australia,India,26 runs,Chennai
975,21-Sep-17,India,Australia,India,50 runs,Kolkata
977,24-Sep-17,India,Australia,India,5 wickets,Indore
980,28-Sep-17,India,Australia,Australia,21 runs,Bengaluru
982,1-Oct-17,India,Australia,India,7 wickets,Nagpur
991,22-Oct-17,India,New Zealand,New Zealand,6 wickets,Mumbai
994,25-Oct-17,India,New Zealand,India,6 wickets,Pune
995,29-Oct-17,India,New Zealand,India,6 runs,Kanpur

In [24]:
india=df.iloc[:]

In [65]:
#store India's results of any particular year for future purpose  

year=[]
for row in india['date']:
    if len(row)== 8:
        year.append(int(row[6:]))
    else:
        year.append(int(row[7:]))

india['match_year']=year
india_2010=india[india.match_year==10]
india_2010.count()

date          27
Team_1        27
Team_2        27
Winner        27
Margin        27
Ground        27
match_year    27
dtype: int64

In [71]:
#analysis of teams those are participating in worldcup

worldcup_teams=['England','South Africa','India','Pakistan','Bangladesh','Afghanistan','New Zealand','Australia','West Indies','Sri Lanka']
df_teams1=results[results['Team_1'].isin(worldcup_teams)]
df_teams2=results[results['Team_2'].isin(worldcup_teams)]
df_teams=pd.concat((df_teams1,df_teams2))
df_teams.drop_duplicates()
df_teams

,date,Team_1,Team_2,Winner,Margin,Ground
0,4-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Dhaka
1,5-Jan-10,India,Sri Lanka,Sri Lanka,5 wickets,Dhaka
2,7-Jan-10,Bangladesh,India,India,6 wickets,Dhaka
3,8-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Dhaka
4,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka
5,11-Jan-10,Bangladesh,India,India,6 wickets,Dhaka
6,13-Jan-10,India,Sri Lanka,Sri Lanka,4 wickets,Dhaka
7,22-Jan-10,Australia,Pakistan,Australia,5 wickets,Brisbane
8,24-Jan-10,Australia,Pakistan,Australia,140 runs,Sydney
9,26-Jan-10,Australia,Pakistan,Australia,40 runs,Adelaide
10,29-Jan-10,Australia,Pakistan,Australia,135 runs,Perth
11,31-Jan-10,Australia,Pakistan,Australia,2 wickets,Perth
12,5-Feb-10,New Zealand,Bangladesh,New Zealand,146 runs,Napier
13,7-Feb-10,Australia,West Indies,Australia,113 runs,Melbourne
14,8-Feb-10,New Zealand,Bangladesh,New Zealand,5 wickets,Dunedin
15,9-Feb-10,Australia,West Indies,Australia,8 wickets,Adelaide
16,11-Feb-10,New Zealand,Bangladesh,New Zealand,3 wickets,Christchurch
17,12-Feb-10,Australia,West Indies,no result,NaN,Sydney
18,14-Feb-10,Australia,West Indies,Australia,50 runs,Brisbane
20,16-Feb-10,Afghanistan,Canada,Afghanistan,1 run,Sharjah
22,18-Feb-10,Afghanistan,Canada,Canada,4 wickets,Sharjah
23,19-Feb-10,Australia,West Indies,Australia,125 runs,Melbourne
24,21-Feb-10,India,South Africa,India,1 run,Jaipur
25,24-Feb-10,India,South Africa,India,153 runs,Gwalior
26,27-Feb-10,India,South Africa,South Africa,90 runs,Ahmedabad
27,28-Feb-10,Bangladesh,England,England,6 wickets,Dhaka
28,2-Mar-10,Bangladesh,England,England,2 wickets,Dhaka
29,3-Mar-10,New Zealand,Australia,New Zealand,2 wickets,Napier
30,4-Mar-10,West Indies,Zimbabwe,Zimbabwe,2 runs,Providence
31,5-Mar-10,Bangladesh,England,England,45 runs,Chittagong
...,...,...,...,...,...,...
959,25-Jun-17,West Indies,India,India,105 runs,Port of Spain
961,30-Jun-17,West Indies,India,India,93 runs,North Sound
963,2-Jul-17,West Indies,India,West Indies,11 runs,North Sound
965,6-Jul-17,West Indies,India,India,8 wickets,Kingston
968,20-Aug-17,Sri Lanka,India,India,9 wickets,Dambulla
969,24-Aug-17,Sri Lanka,India,India,3 wickets,Pallekele
970,27-Aug-17,Sri Lanka,India,India,6 wickets,Pallekele
971,31-Aug-17,Sri Lanka,India,India,168 runs,Colombo (RPS)
972,3-Sep-17,Sri Lanka,India,India,6 wickets,Colombo (RPS)
973,17-Sep-17,India,Australia,India,26 runs,Chennai
974,19-Sep-17,England,West Indies,England,7 wickets,Manchester
975,21-Sep-17,India,Australia,India,50 runs,Kolkata
976,21-Sep-17,England,West Indies,no result,NaN,Nottingham
977,24-Sep-17,India,Australia,India,5 wickets,Indore
978,24-Sep-17,England,West Indies,England,124 runs,Bristol
979,27-Sep-17,England,West Indies,England,6 runs,The Oval
980,28-Sep-17,India,Australia,Australia,21 runs,Bengaluru
981,29-Sep-17,England,West Indies,England,9 wickets,Southampton
982,1-Oct-17,India,Australia,India,7 wickets,Nagpur
985,13-Oct-17,Pakistan,Sri Lanka,Pakistan,83 runs,Dubai (DSC)
986,15-Oct-17,South Africa,Bangladesh,South Africa,10 wickets,Kimberley
987,16-Oct-17,Pakistan,Sri Lanka,Pakistan,32 runs,Abu Dhabi
988,18-Oct-17,South Africa,Bangladesh,South Africa,104 runs,Paarl
989,18-Oct-17,Pakistan,Sri Lanka,Pakistan,7 wickets,Abu Dhabi
990,20-Oct-17,Pakistan,Sri Lanka,Pakistan,7 wickets,Sharjah
991,22-Oct-17,India,New Zealand,New Zealand,6 wickets,Mumbai
992,22-Oct-17,South Africa,Bangladesh,South Africa,200 runs,East London
993,23-Oct-17,Pakistan,Sri Lanka,Pakistan,9 wickets,Sharjah
994,25-Oct-17,India,New Zealand,India,6 wickets,Pune
995,29-Oct-17,India,New Zealand,India,6 runs,Kanpur

In [74]:
df_teams_2010=df_teams.drop(['date','Margin','Ground'],axis=1)
df_teams_2010

           Team_1        Team_2        Winner
0      Bangladesh     Sri Lanka     Sri Lanka
1           India     Sri Lanka     Sri Lanka
2      Bangladesh         India         India
3      Bangladesh     Sri Lanka     Sri Lanka
4           India     Sri Lanka         India
5      Bangladesh         India         India
6           India     Sri Lanka     Sri Lanka
7       Australia      Pakistan     Australia
8       Australia      Pakistan     Australia
9       Australia      Pakistan     Australia
10      Australia      Pakistan     Australia
11      Australia      Pakistan     Australia
12    New Zealand    Bangladesh   New Zealand
13      Australia   West Indies     Australia
14    New Zealand    Bangladesh   New Zealand
15      Australia   West Indies     Australia
16    New Zealand    Bangladesh   New Zealand
17      Australia   West Indies     no result
18      Australia   West Indies     Australia
20    Afghanistan        Canada   Afghanistan
22    Afghanistan        Canada        Canada
23      Australia   West Indies     Australia
24          India  South Africa         India
25          India  South Africa         India
26          India  South Africa  South Africa
27     Bangladesh       England       England
28     Bangladesh       England       England
29    New Zealand     Australia   New Zealand
30    West Indies      Zimbabwe      Zimbabwe
31     Bangladesh       England       England
..            ...           ...           ...
959   West Indies         India         India
961   West Indies         India         India
963   West Indies         India   West Indies
965   West Indies         India         India
968     Sri Lanka         India         India
969     Sri Lanka         India         India
970     Sri Lanka         India         India
971     Sri Lanka         India         India
972     Sri Lanka         India         India
973         India     Australia         India
974       England   West Indies       England
975         India     Australia         India
976       England   West Indies     no result
977         India     Australia         India
978       England   West Indies       England
979       England   West Indies       England
980         India     Australia     Australia
981       England   West Indies       England
982         India     Australia         India
985      Pakistan     Sri Lanka      Pakistan
986  South Africa    Bangladesh  South Africa
987      Pakistan     Sri Lanka      Pakistan
988  South Africa    Bangladesh  South Africa
989      Pakistan     Sri Lanka      Pakistan
990      Pakistan     Sri Lanka      Pakistan
991         India   New Zealand   New Zealand
992  South Africa    Bangladesh  South Africa
993      Pakistan     Sri Lanka      Pakistan
994         India   New Zealand         India
995         India   New Zealand         India

[1597 rows x 3 columns]

In [102]:
#assigning the winning team (if first team wins then assign winning team as 1 and if second team wins assign winning team as 2)


df_teams_2010=df_teams_2010.reset_index(drop=True)

df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_1,'winning_team']=1
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_2,'winning_team']=2

df_teams_2010 = df_teams_2010.drop(['winning_team'], axis=1)

df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [103]:
final=pd.get_dummies(df_teams_2010,prefix=['Team_1','Team_2'],columns=['Team_1','Team_2'])

In [104]:
X=final.drop(['Winner'],axis=1)
y=final["Winner"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
final.head()

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Sri Lanka,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,India,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [105]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [106]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0) 

#print("Training set accuracy: ", '%.3f'%(score)) print("Test set accuracy: ", '%.3f'%(score2))

In [107]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [108]:
score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)

In [111]:
print("training set accuracy")
score

training set accuracy

0.7118802619270346

In [112]:
print("testing set accuracy")
score2

testing set accuracy

0.6287878787878788

In [113]:
#reading ranking and fixtures of the tournament

ranking=pd.read_csv('D:/study material/world-cup-predictor/datsets/icc_rankings.csv')
fixtures=pd.read_csv('D:/study material/world-cup-predictor/datsets/fixtures.csv')

In [116]:
ranking

   Position          Team  Points
0         1       England     125
1         2         India     121
2         3  South Africa     115
3         4   New Zealand     113
4         5     Australia     109
5         6      Pakistan      94
6         7    Bangladesh      90
7         8   West Indies      77
8         9     Sri Lanka      76
9        10   Afghanistan      63

In [118]:
#assign the present ranking of teams

fixtures.insert(1,'rank_of_first_team',fixtures['Team_1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2,'rank_of_second_team',fixtures['Team_2'].map(ranking.set_index('Team')['Position']))

In [119]:
fixtures

,Round Number,rank_of_first_team,rank_of_second_team,Date,Location,Team_1,Team_2,Group,Result
0,1,1.0,3.0,30/05/2019,"Kennington Oval, London",England,South Africa,Group A,NaN
1,1,8.0,6.0,31/05/2019,"Trent Bridge, Nottingham",West Indies,Pakistan,Group A,NaN
2,1,4.0,9.0,1/6/2019,"Sophia Gardens, Cardiff",New Zealand,Sri Lanka,Group A,NaN
3,1,10.0,5.0,1/6/2019,"County Ground, Bristol",Afghanistan,Australia,Group A,NaN
4,1,3.0,7.0,2/6/2019,"Kennington Oval, London",South Africa,Bangladesh,Group A,NaN
5,1,1.0,6.0,3/6/2019,"Trent Bridge, Nottingham",England,Pakistan,Group A,NaN
6,1,10.0,9.0,4/6/2019,"Sophia Gardens, Cardiff",Afghanistan,Sri Lanka,Group A,NaN
7,1,3.0,2.0,5/6/2019,"The Rose Bowl, Southampton",South Africa,India,Group A,NaN
8,1,7.0,4.0,5/6/2019,"Kennington Oval, London",Bangladesh,New Zealand,Group A,NaN
9,1,5.0,8.0,6/6/2019,"Trent Bridge, Nottingham",Australia,West Indies,Group A,NaN
10,1,6.0,9.0,7/6/2019,"County Ground, Bristol",Pakistan,Sri Lanka,Group A,NaN
11,1,1.0,7.0,8/6/2019,"Sophia Gardens, Cardiff",England,Bangladesh,Group A,NaN
12,1,10.0,4.0,8/6/2019,"The Cooper Associates County Ground, Taunton",Afghanistan,New Zealand,Group A,NaN
13,1,2.0,5.0,9/6/2019,"Kennington Oval, London",India,Australia,Group A,NaN
14,1,3.0,8.0,10/6/2019,"The Rose Bowl, Southampton",South Africa,West Indies,Group A,NaN
15,1,7.0,9.0,11/6/2019,"County Ground, Bristol",Bangladesh,Sri Lanka,Group A,NaN
16,1,5.0,6.0,12/6/2019,"The Cooper Associates County Ground, Taunton",Australia,Pakistan,Group A,NaN
17,1,2.0,4.0,13/06/2019,"Trent Bridge, Nottingham",India,New Zealand,Group A,NaN
18,1,1.0,8.0,14/06/2019,"The Rose Bowl, Southampton",England,West Indies,Group A,NaN
19,1,9.0,5.0,15/06/2019,"Kennington Oval, London",Sri Lanka,Australia,Group A,NaN
20,1,3.0,10.0,15/06/2019,"Sophia Gardens, Cardiff",South Africa,Afghanistan,Group A,NaN
21,1,2.0,6.0,16/06/2019,"Emirates Old Trafford, Manchester",India,Pakistan,Group A,NaN
22,1,8.0,7.0,17/06/2019,"The Cooper Associates County Ground, Taunton",West Indies,Bangladesh,Group A,NaN
23,1,1.0,10.0,18/06/2019,"Emirates Old Trafford, Manchester",England,Afghanistan,Group A,NaN
24,1,4.0,3.0,19/06/2019,"Edgbaston, Birmingham",New Zealand,South Africa,Group A,NaN
25,1,5.0,7.0,20/06/2019,"Trent Bridge, Nottingham",Australia,Bangladesh,Group A,NaN
26,1,1.0,9.0,21/06/2019,"Headingley, Leeds",England,Sri Lanka,Group A,NaN
27,1,2.0,10.0,22/06/2019,"The Rose Bowl, Southampton",India,Afghanistan,Group A,NaN
28,1,8.0,4.0,22/06/2019,"Emirates Old Trafford, Manchester",West Indies,New Zealand,Group A,NaN
29,1,6.0,3.0,23/06/2019,"Lord's, London",Pakistan,South Africa,Group A,NaN
30,1,7.0,10.0,24/06/2019,"The Rose Bowl, Southampton",Bangladesh,Afghanistan,Group A,NaN
31,1,1.0,5.0,25/06/2019,"Lord's, London",England,Australia,Group A,NaN
32,1,4.0,6.0,26/06/2019,"Edgbaston, Birmingham",New Zealand,Pakistan,Group A,NaN
33,1,8.0,2.0,27/06/2019,"Emirates Old Trafford, Manchester",West Indies,India,Group A,NaN
34,1,9.0,3.0,28/06/2019,"Riverside Ground, Chester-le-Street",Sri Lanka,South Africa,Group A,NaN
35,1,6.0,10.0,29/06/2019,"Headingley, Leeds",Pakistan,Afghanistan,Group A,NaN
36,1,4.0,5.0,29/06/2019,"Lord's, London",New Zealand,Australia,Group A,NaN
37,1,1.0,2.0,30/06/2019,"Edgbaston, Birmingham",England,India,Group A,NaN
38,1,9.0,8.0,1/7/2019,"Riverside Ground, Chester-le-Street",Sri Lanka,West Indies,Group A,NaN
39,1,7.0,2.0,2/7/2019,"Edgbaston, Birmingham",Bangladesh,India,Group A,NaN
40,1,1.0,4.0,3/7/2019,"Riverside Ground, Chester-le-Street",England,New Zealand,Group A,NaN
41,1,10.0,8.0,4/7/2019,"Headingley, Leeds",Afghanistan,West Indies,Group A,NaN
42,1,6.0,7.0,5/7/2019,"Lord's, London",Pakistan,Bangladesh,Group A,NaN
43,1,9.0,2.0,6/7/2019,"Headingley, Leeds",Sri Lanka,India,Group A,NaN
44,1,5.0,3.0,6/7/2019,"Emirates Old Trafford, Manchester",Australia,South Africa,Group A,NaN
45,Semi Finals,NaN,NaN,9/7/2019,"Emirates Old Trafford, Manchester",To be announced,To be announced,NaN,NaN
46,Semi Finals,NaN,NaN,11/7/2019,"Edgbaston, Birmingham",To be announced,To be announced,NaN,NaN
47,Finals,NaN,NaN,14/07/2019,"Lord's, London",To be announced,To be announced,NaN,NaN

In [299]:
#prediction set
pred_set=[]
for index,row in fixtures.iterrows():
    pred_set.append({'Team_1':row['Team_1'],'Team_2':row['Team_2'],'winning_team':None})
    
    
    
pred_set=pd.DataFrame(pred_set)
back_up_pred_set=pred_set
pred_set

             Team_1           Team_2 winning_team
0           England     South Africa         None
1       West Indies         Pakistan         None
2       New Zealand        Sri Lanka         None
3       Afghanistan        Australia         None
4      South Africa       Bangladesh         None
5           England         Pakistan         None
6       Afghanistan        Sri Lanka         None
7      South Africa            India         None
8        Bangladesh      New Zealand         None
9         Australia      West Indies         None
10         Pakistan        Sri Lanka         None
11          England       Bangladesh         None
12      Afghanistan      New Zealand         None
13            India        Australia         None
14     South Africa      West Indies         None
15       Bangladesh        Sri Lanka         None
16        Australia         Pakistan         None
17            India      New Zealand         None
18          England      West Indies         None
19        Sri Lanka        Australia         None
20     South Africa      Afghanistan         None
21            India         Pakistan         None
22      West Indies       Bangladesh         None
23          England      Afghanistan         None
24      New Zealand     South Africa         None
25        Australia       Bangladesh         None
26          England        Sri Lanka         None
27            India      Afghanistan         None
28      West Indies      New Zealand         None
29         Pakistan     South Africa         None
30       Bangladesh      Afghanistan         None
31          England        Australia         None
32      New Zealand         Pakistan         None
33      West Indies            India         None
34        Sri Lanka     South Africa         None
35         Pakistan      Afghanistan         None
36      New Zealand        Australia         None
37          England            India         None
38        Sri Lanka      West Indies         None
39       Bangladesh            India         None
40          England      New Zealand         None
41      Afghanistan      West Indies         None
42         Pakistan       Bangladesh         None
43        Sri Lanka            India         None
44        Australia     South Africa         None
45  To be announced  To be announced         None
46  To be announced  To be announced         None
47  To be announced  To be announced         None

In [300]:
  pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

missing_cols = set(final.columns) - set(pred_set.columns)
for i in missing_cols:
      pred_set[i]=0
    
    
    
    
pred_set = pred_set[final.columns]


pred_set = pred_set.drop(['Winner'], axis=1)
pred_set.head()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,Team_1_New Zealand,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [301]:
predictions=rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(back_up_pred_set.iloc[i,1] + " and " + back_up_pred_set.iloc[i,0])
    if predictions.any() == 1:
        print("Winner :" + back_up_pred_set.iloc[i,1])
        fixtures.Result[i]=back_up_pred_set.iloc[i,1]
    else:
        print("Winner :" + back_up_pred_set.iloc[i,0])
        fixtures.Result[i]=back_up_pred_set.iloc[i,0]
        
        print(" ")

South Africa and England
Winner :England

Pakistan and West Indies
Winner :West Indies

Sri Lanka and New Zealand
Winner :New Zealand

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Australia and Afghanistan
Winner :Afghanistan

Bangladesh and South Africa
Winner :South Africa

Pakistan and England
Winner :England

Sri Lanka and Afghanistan
Winner :Afghanistan

India and South Africa
Winner :South Africa

New Zealand and Bangladesh
Winner :Bangladesh

West Indies and Australia
Winner :Australia

Sri Lanka and Pakistan
Winner :Pakistan

Bangladesh and England
Winner :England

New Zealand and Afghanistan
Winner :Afghanistan

Australia and India
Winner :India

West Indies and South Africa
Winner :South Africa

Sri Lanka and Bangladesh
Winner :Bangladesh

Pakistan and Australia
Winner :Australia

New Zealand and India
Winner :India

West Indies and England
Winner :England

Australia and Sri Lanka
Winner :Sri Lanka

Afghanistan and South Africa
Winner :South Africa

Pakistan and India
Winner :India

Bangladesh and West Indies
Winner :West Indies

Afghanistan and England
Winner :England

South Africa and New Zealand
Winner :New Zealand

Bangladesh and Australia
Winner :Australia

Sri Lanka and England
Winner :England

Afghanistan and India
Winner :India

New Zealand and West Indies
Winner :West Indies

South Africa and Pakistan
Winner :Pakistan

Afghanistan and Bangladesh
Winner :Bangladesh

Australia and England
Winner :England

Pakistan and New Zealand
Winner :New Zealand

India and West Indies
Winner :West Indies

South Africa and Sri Lanka
Winner :Sri Lanka

Afghanistan and Pakistan
Winner :Pakistan

Australia and New Zealand
Winner :New Zealand

India and England
Winner :England

West Indies and Sri Lanka
Winner :Sri Lanka

India and Bangladesh
Winner :Bangladesh

New Zealand and England
Winner :England

West Indies and Afghanistan
Winner :Afghanistan

Bangladesh and Pakistan
Winner :Pakistan

India and Sri Lanka
Winner :Sri Lanka

South Africa and Australia
Winner :Australia

To be announced and To be announced
Winner :To be announced

To be announced and To be announced
Winner :To be announced

To be announced and To be announced
Winner :To be announced

In [167]:

    
fixtures

,Round Number,rank_of_first_team,rank_of_second_team,Date,Location,Team_1,Team_2,Group,Result
0,1,1.0,3.0,30/05/2019,"Kennington Oval, London",England,South Africa,Group A,South Africa
1,1,8.0,6.0,31/05/2019,"Trent Bridge, Nottingham",West Indies,Pakistan,Group A,Pakistan
2,1,4.0,9.0,1/6/2019,"Sophia Gardens, Cardiff",New Zealand,Sri Lanka,Group A,Sri Lanka
3,1,10.0,5.0,1/6/2019,"County Ground, Bristol",Afghanistan,Australia,Group A,Australia
4,1,3.0,7.0,2/6/2019,"Kennington Oval, London",South Africa,Bangladesh,Group A,Bangladesh
5,1,1.0,6.0,3/6/2019,"Trent Bridge, Nottingham",England,Pakistan,Group A,Pakistan
6,1,10.0,9.0,4/6/2019,"Sophia Gardens, Cardiff",Afghanistan,Sri Lanka,Group A,Sri Lanka
7,1,3.0,2.0,5/6/2019,"The Rose Bowl, Southampton",South Africa,India,Group A,India
8,1,7.0,4.0,5/6/2019,"Kennington Oval, London",Bangladesh,New Zealand,Group A,New Zealand
9,1,5.0,8.0,6/6/2019,"Trent Bridge, Nottingham",Australia,West Indies,Group A,West Indies
10,1,6.0,9.0,7/6/2019,"County Ground, Bristol",Pakistan,Sri Lanka,Group A,Sri Lanka
11,1,1.0,7.0,8/6/2019,"Sophia Gardens, Cardiff",England,Bangladesh,Group A,Bangladesh
12,1,10.0,4.0,8/6/2019,"The Cooper Associates County Ground, Taunton",Afghanistan,New Zealand,Group A,New Zealand
13,1,2.0,5.0,9/6/2019,"Kennington Oval, London",India,Australia,Group A,Australia
14,1,3.0,8.0,10/6/2019,"The Rose Bowl, Southampton",South Africa,West Indies,Group A,West Indies
15,1,7.0,9.0,11/6/2019,"County Ground, Bristol",Bangladesh,Sri Lanka,Group A,Sri Lanka
16,1,5.0,6.0,12/6/2019,"The Cooper Associates County Ground, Taunton",Australia,Pakistan,Group A,Pakistan
17,1,2.0,4.0,13/06/2019,"Trent Bridge, Nottingham",India,New Zealand,Group A,New Zealand
18,1,1.0,8.0,14/06/2019,"The Rose Bowl, Southampton",England,West Indies,Group A,West Indies
19,1,9.0,5.0,15/06/2019,"Kennington Oval, London",Sri Lanka,Australia,Group A,Australia
20,1,3.0,10.0,15/06/2019,"Sophia Gardens, Cardiff",South Africa,Afghanistan,Group A,Afghanistan
21,1,2.0,6.0,16/06/2019,"Emirates Old Trafford, Manchester",India,Pakistan,Group A,Pakistan
22,1,8.0,7.0,17/06/2019,"The Cooper Associates County Ground, Taunton",West Indies,Bangladesh,Group A,Bangladesh
23,1,1.0,10.0,18/06/2019,"Emirates Old Trafford, Manchester",England,Afghanistan,Group A,Afghanistan
24,1,4.0,3.0,19/06/2019,"Edgbaston, Birmingham",New Zealand,South Africa,Group A,South Africa
25,1,5.0,7.0,20/06/2019,"Trent Bridge, Nottingham",Australia,Bangladesh,Group A,Bangladesh
26,1,1.0,9.0,21/06/2019,"Headingley, Leeds",England,Sri Lanka,Group A,Sri Lanka
27,1,2.0,10.0,22/06/2019,"The Rose Bowl, Southampton",India,Afghanistan,Group A,Afghanistan
28,1,8.0,4.0,22/06/2019,"Emirates Old Trafford, Manchester",West Indies,New Zealand,Group A,New Zealand
29,1,6.0,3.0,23/06/2019,"Lord's, London",Pakistan,South Africa,Group A,South Africa
30,1,7.0,10.0,24/06/2019,"The Rose Bowl, Southampton",Bangladesh,Afghanistan,Group A,Afghanistan
31,1,1.0,5.0,25/06/2019,"Lord's, London",England,Australia,Group A,Australia
32,1,4.0,6.0,26/06/2019,"Edgbaston, Birmingham",New Zealand,Pakistan,Group A,Pakistan
33,1,8.0,2.0,27/06/2019,"Emirates Old Trafford, Manchester",West Indies,India,Group A,India
34,1,9.0,3.0,28/06/2019,"Riverside Ground, Chester-le-Street",Sri Lanka,South Africa,Group A,South Africa
35,1,6.0,10.0,29/06/2019,"Headingley, Leeds",Pakistan,Afghanistan,Group A,Afghanistan
36,1,4.0,5.0,29/06/2019,"Lord's, London",New Zealand,Australia,Group A,Australia
37,1,1.0,2.0,30/06/2019,"Edgbaston, Birmingham",England,India,Group A,India
38,1,9.0,8.0,1/7/2019,"Riverside Ground, Chester-le-Street",Sri Lanka,West Indies,Group A,West Indies
39,1,7.0,2.0,2/7/2019,"Edgbaston, Birmingham",Bangladesh,India,Group A,India
40,1,1.0,4.0,3/7/2019,"Riverside Ground, Chester-le-Street",England,New Zealand,Group A,New Zealand
41,1,10.0,8.0,4/7/2019,"Headingley, Leeds",Afghanistan,West Indies,Group A,West Indies
42,1,6.0,7.0,5/7/2019,"Lord's, London",Pakistan,Bangladesh,Group A,Bangladesh
43,1,9.0,2.0,6/7/2019,"Headingley, Leeds",Sri Lanka,India,Group A,India
44,1,5.0,3.0,6/7/2019,"Emirates Old Trafford, Manchester",Australia,South Africa,Group A,South Africa
45,Semi Finals,NaN,NaN,9/7/2019,"Emirates Old Trafford, Manchester",To be announced,To be announced,NaN,To be announced
46,Semi Finals,NaN,NaN,11/7/2019,"Edgbaston, Birmingham",To be announced,To be announced,NaN,To be announced
47,Finals,NaN,NaN,14/07/2019,"Lord's, London",To be announced,To be announced,NaN,To be announced

In [199]:
sa_count=0
afg_count=0
aus_count=0
ind_count=0
wi_count=0
sl_count=0
pak_count=0
nz_count=0
eng_count=0
ban_count=0



for i in range(fixtures.shape[0]):
    if fixtures.Result[i] == 'South Africa':
        sa_count=sa_count+1
    if fixtures.Result[i] == 'India':
        ind_count=ind_count+1    
    if fixtures.Result[i] == 'Australia':
        aus_count=aus_count+1    
    if fixtures.Result[i] == 'Bangladesh':
        ban_count=ban_count+1
    if fixtures.Result[i] == 'New Zealand':
        nz_count=nz_count+1
    if fixtures.Result[i] == 'Sri Lanka':
        sl_count=sl_count+1
    if fixtures.Result[i] == 'Pakistan':
        pak_count=pak_count+1    
    if fixtures.Result[i] == 'Afghanistan':
        afg_count=afg_count+1
    if fixtures.Result[i] == 'West Indies':
        wi_count=wi_count+1 
    if fixtures.Result[i] == 'England':
        eng_count=eng_count+1
        
        
print("South Africa won : " +str(sa_count)+  " Matches")
print("India won : "+ str(ind_count) + " Matches")
print("England won : "+ str(eng_count) + " Matches")
print("Bangladesh won : "+ str(ban_count) + " Matches")
print("West Indies won : "+ str(wi_count) + " Matches")
print("Australia won : "+ str(aus_count) + " Matches")
print("Sri Lanka won : "+ str(sl_count) + " Matches")
print("Pakistan won : "+ str(pak_count) + " Matches")
print("New Zealand won : "+ str(nz_count) + " Matches")
print("Afghanistan won : "+ str(afg_count) + " Matches")

South Africa won : 4 Matches
India won : 4 Matches
England won : 9 Matches
Bangladesh won : 4 Matches
West Indies won : 4 Matches
Australia won : 4 Matches
Sri Lanka won : 4 Matches
Pakistan won : 4 Matches
New Zealand won : 4 Matches
Afghanistan won : 4 Matches

In [201]:
#england topped the table and remaining team won same matches so the top 4 will be decided by the ranking tables
ranking.head()

   Position          Team  Points
0         1       England     125
1         2         India     121
2         3  South Africa     115
3         4   New Zealand     113
4         5     Australia     109

In [207]:
#now repeat the above steps for the semifinals and finals

semi=['England','India','South Africa','New Zealand']

In [210]:
semi_results=pd.read_csv('D:/study material/world-cup-predictor/datsets/results.csv')

In [214]:
df1=semi_results[(((semi_results['Team_1']=='India') & (semi_results['Team_2']=='South Africa') | (semi_results['Team_1']=='South Africa') & (semi_results['Team_2']=='India') ) | ((semi_results['Team_1']=='England') & (semi_results['Team_2']=='New Zealand') | (semi_results['Team_1']=='New Zealand') & (semi_results['Team_2']=='England') ) )]
df1

,date,Team_1,Team_2,Winner,Margin,Ground
24,21-Feb-10,India,South Africa,India,1 run,Jaipur
25,24-Feb-10,India,South Africa,India,153 runs,Gwalior
26,27-Feb-10,India,South Africa,South Africa,90 runs,Ahmedabad
142,12-Jan-11,South Africa,India,South Africa,135 runs,Durban
143,15-Jan-11,South Africa,India,India,1 run,Johannesburg
145,18-Jan-11,South Africa,India,India,2 wickets,Cape Town
147,21-Jan-11,South Africa,India,South Africa,48 runs,Port Elizabeth
150,23-Jan-11,South Africa,India,South Africa,33 runs,Centurion
191,12-Mar-11,India,South Africa,South Africa,3 wickets,Nagpur
398,17-Feb-13,New Zealand,England,New Zealand,3 wickets,Hamilton
399,20-Feb-13,New Zealand,England,England,8 wickets,Napier
401,23-Feb-13,New Zealand,England,England,5 wickets,Auckland
423,31-May-13,England,New Zealand,New Zealand,5 wickets,Lord's
424,2-Jun-13,England,New Zealand,New Zealand,86 runs,Southampton
425,5-Jun-13,England,New Zealand,England,34 runs,Nottingham
426,6-Jun-13,India,South Africa,India,26 runs,Cardiff
436,16-Jun-13,England,New Zealand,England,10 runs,Cardiff
505,5-Dec-13,South Africa,India,South Africa,141 runs,Johannesburg
506,8-Dec-13,South Africa,India,South Africa,134 runs,Durban
507,11-Dec-13,South Africa,India,no result,NaN,Centurion
670,20-Feb-15,New Zealand,England,New Zealand,8 wickets,Wellington
673,22-Feb-15,India,South Africa,India,130 runs,Melbourne
717,9-Jun-15,England,New Zealand,England,210 runs,Birmingham
718,12-Jun-15,England,New Zealand,New Zealand,13 runs,The Oval
719,14-Jun-15,England,New Zealand,New Zealand,3 wickets,Southampton
720,17-Jun-15,England,New Zealand,England,7 wickets,Nottingham
722,20-Jun-15,England,New Zealand,England,3 wickets,Chester-le-Street
752,11-Oct-15,India,South Africa,South Africa,5 runs,Kanpur
755,14-Oct-15,India,South Africa,India,22 runs,Indore
758,18-Oct-15,India,South Africa,South Africa,18 runs,Rajkot
761,22-Oct-15,India,South Africa,India,35 runs,Chennai
763,25-Oct-15,India,South Africa,South Africa,214 runs,Mumbai
943,6-Jun-17,England,New Zealand,England,87 runs,Cardiff
949,11-Jun-17,India,South Africa,India,8 wickets,The Oval

In [215]:
df1_semi=df1.drop(['date','Margin','Ground'],axis=1)
df1_semi

           Team_1        Team_2        Winner
24          India  South Africa         India
25          India  South Africa         India
26          India  South Africa  South Africa
142  South Africa         India  South Africa
143  South Africa         India         India
145  South Africa         India         India
147  South Africa         India  South Africa
150  South Africa         India  South Africa
191         India  South Africa  South Africa
398   New Zealand       England   New Zealand
399   New Zealand       England       England
401   New Zealand       England       England
423       England   New Zealand   New Zealand
424       England   New Zealand   New Zealand
425       England   New Zealand       England
426         India  South Africa         India
436       England   New Zealand       England
505  South Africa         India  South Africa
506  South Africa         India  South Africa
507  South Africa         India     no result
670   New Zealand       England   New Zealand
673         India  South Africa         India
717       England   New Zealand       England
718       England   New Zealand   New Zealand
719       England   New Zealand   New Zealand
720       England   New Zealand       England
722       England   New Zealand       England
752         India  South Africa  South Africa
755         India  South Africa         India
758         India  South Africa  South Africa
761         India  South Africa         India
763         India  South Africa  South Africa
943       England   New Zealand       England
949         India  South Africa         India

In [216]:
semi_final=pd.get_dummies(df1_semi,prefix=['Team_1','Team_2'],columns=['Team_1','Team_2'])

In [223]:
X=semi_final.drop(['Winner'],axis=1)
y=semi_final["Winner"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
semi_final.count()

Winner                 34
Team_1_England         34
Team_1_India           34
Team_1_New Zealand     34
Team_1_South Africa    34
Team_2_England         34
Team_2_India           34
Team_2_New Zealand     34
Team_2_South Africa    34
dtype: int64

In [218]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [228]:
rfc = RandomForestClassifier(n_estimators=34,random_state=0)

In [229]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=34, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [231]:

train_score = rfc.score(X_train, y_train)
test_score = rfc.score(X_test, y_test)

In [232]:
train_score

0.64

In [233]:
test_score

0.4444444444444444

In [265]:
data = {'Team_1': ['England','India'],
        'Team_2': ['New Zealand','South Africa'] }

semi_fixtures = pd.DataFrame(data, columns = ['Team_1', 'Team_2'])

In [266]:
semi_fixtures

    Team_1        Team_2
0  England   New Zealand
1    India  South Africa

In [302]:
pred_set1=[]
for index,row in semi_fixtures.iterrows():
    pred_set1.append({'Team_1':row['Team_1'],'Team_2':row['Team_2'],'winning_team':None})
    
pred_set1=pd.DataFrame(pred_set1)
back_up_pred_set1=pred_set1
pred_set1

  Team_1   Team_2 winning_team
0  India  England         None

In [303]:
pred_set1 = pd.get_dummies(pred_set1, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

missing_cols1 = set(semi_final.columns) - set(pred_set1.columns)
for i in missing_cols1:
      pred_set1[i]=0
    
    
    
    
pred_set1 = pred_set1[semi_final.columns]


pred_set1 = pred_set1.drop(['Winner'], axis=1)
pred_set1.head()

,Team_1_England,Team_1_India,Team_1_New Zealand,Team_1_South Africa,Team_2_England,Team_2_India,Team_2_New Zealand,Team_2_South Africa
0,0,1,0,0,1,0,0,0

In [297]:
predictions1=rfc.predict(pred_set1)
for i in range(semi_fixtures.shape[0]):
    print(back_up_pred_set1.iloc[i,1] + " and " + back_up_pred_set1.iloc[i,0])
    if predictions1.any() == 1:
        print("Winner :" + back_up_pred_set1.iloc[i,1])
        
    else:
        print("Winner :" + back_up_pred_set1.iloc[i,0])
       
        
        print(" ")

New Zealand and England
Winner :England

In [273]:
#so the finalist are India and England
final_results=pd.read_csv('D:/study material/world-cup-predictor/datsets/results.csv')

df2=final_results[((final_results['Team_1']=='India') & (final_results['Team_2']=='England') | (final_results['Team_1']=='England') & (semi_results['Team_2']=='India') ) ]
df2

          date   Team_1   Team_2     Winner     Margin              Ground
173  27-Feb-11    India  England       tied        NaN           Bengaluru
249   3-Sep-11  England    India  no result        NaN   Chester-le-Street
250   6-Sep-11  England    India    England  7 wickets         Southampton
252   9-Sep-11  England    India    England  3 wickets            The Oval
254  11-Sep-11  England    India       tied        NaN              Lord's
258  16-Sep-11  England    India    England  6 wickets             Cardiff
262  14-Oct-11    India  England      India   126 runs  Hyderabad (Deccan)
264  17-Oct-11    India  England      India  8 wickets               Delhi
268  20-Oct-11    India  England      India  5 wickets              Mohali
270  23-Oct-11    India  England      India  6 wickets              Mumbai
273  25-Oct-11    India  England      India    95 runs             Kolkata
381  11-Jan-13    India  England    England     9 runs              Rajkot
383  15-Jan-13    India  England      India   127 runs               Kochi
385  19-Jan-13    India  England      India  7 wickets              Ranchi
390  23-Jan-13    India  England      India  5 wickets              Mohali
392  27-Jan-13    India  England    England  7 wickets          Dharamsala
440  23-Jun-13  England    India      India     5 runs          Birmingham
580  27-Aug-14  England    India      India   133 runs             Cardiff
583  30-Aug-14  England    India      India  6 wickets          Nottingham
586   2-Sep-14  England    India      India  9 wickets          Birmingham
588   5-Sep-14  England    India    England    41 runs               Leeds
649  20-Jan-15  England    India    England  9 wickets            Brisbane
658  30-Jan-15  England    India    England  3 wickets               Perth
882  15-Jan-17    India  England      India  3 wickets                Pune
884  19-Jan-17    India  England      India    15 runs             Cuttack
887  22-Jan-17    India  England    England     5 runs             Kolkata

In [274]:
df2_final=df2.drop(['date','Margin','Ground'],axis=1)
df2_final

      Team_1   Team_2     Winner
173    India  England       tied
249  England    India  no result
250  England    India    England
252  England    India    England
254  England    India       tied
258  England    India    England
262    India  England      India
264    India  England      India
268    India  England      India
270    India  England      India
273    India  England      India
381    India  England    England
383    India  England      India
385    India  England      India
390    India  England      India
392    India  England    England
440  England    India      India
580  England    India      India
583  England    India      India
586  England    India      India
588  England    India    England
649  England    India    England
658  England    India    England
882    India  England      India
884    India  England      India
887    India  England    England

In [275]:
finals=pd.get_dummies(df2_final,prefix=['Team_1','Team_2'],columns=['Team_1','Team_2'])

In [276]:
X=finals.drop(['Winner'],axis=1)
y=finals["Winner"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
finals.count()

Winner            26
Team_1_England    26
Team_1_India      26
Team_2_England    26
Team_2_India      26
dtype: int64

In [277]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [280]:
rfc1 = RandomForestClassifier(n_estimators=25,random_state=0)

In [281]:
rfc1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [282]:
train_score1 = rfc1.score(X_train, y_train)
test_score1 = rfc1.score(X_test, y_test)

In [283]:
train_score1

0.631578947368421

In [284]:
test_score1

0.5714285714285714

In [286]:
data1 = {'Team_1': ['India'],
        'Team_2': ['England'] }

final_fixtures = pd.DataFrame(data, columns = ['Team_1', 'Team_2'])
final_fixtures

  Team_1   Team_2
0  India  England

In [304]:
pred_set2=[]
for index,row in final_fixtures.iterrows():
    pred_set2.append({'Team_1':row['Team_1'],'Team_2':row['Team_2'],'winning_team':None})
    
pred_set2=pd.DataFrame(pred_set2)
back_up_pred_set2=pred_set2
pred_set2

  Team_1   Team_2 winning_team
0  India  England         None

In [305]:
pred_set2 = pd.get_dummies(pred_set2, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

missing_cols2 = set(finals.columns) - set(pred_set2.columns)
for i in missing_cols2:
      pred_set2[i]=0
    
    
    
    
pred_set2 = pred_set2[finals.columns]


pred_set2 = pred_set2.drop(['Winner'], axis=1)
pred_set2.head()

   Team_1_England  Team_1_India  Team_2_England  Team_2_India
0               0             1               1             0

In [306]:
predictions2=rfc1.predict(pred_set2)
for i in range(final_fixtures.shape[0]):
    print(back_up_pred_set2.iloc[i,1] + " and " + back_up_pred_set2.iloc[i,0])
    if predictions2.any() == 1:
        print("Winner :" + back_up_pred_set2.iloc[i,1])
        
    else:
        print("Winner :" + back_up_pred_set2.iloc[i,0])
       
        
        print(" ")

England and India
Winner :India

In [ ]:
#so the Winner of the world cup 2019 is India